[Service]
# If thaum.conf omits [server.database].db_url (bundled PostgreSQL in the container), omit the
# thaumDbUrl line below and do not create /etc/credstore.encrypted/thaumDbUrl.
LoadCredentialEncrypted=thaumDbUrl:/etc/credstore.encrypted/thaumDbUrl
LoadCredentialEncrypted=thaumDatabaseVaultPassphrase:/etc/credstore.encrypted/thaumDatabaseVaultPassphrase
LoadCredentialEncrypted=atlassian-api-token:/etc/credstore.encrypted/atlassian-api-token
LoadCredentialEncrypted=webexTokenDatabase:/etc/credstore.encrypted/webexTokenDatabase
