[Unit]
Description=Thaum bot service
After=network-online.target
Wants=network-online.target

[Container]
Image=localhost/thaum:latest
ContainerName=thaum
PublishPort=127.0.0.1:5165:5165
Environment=THAUM_CONFIG_FILE=/etc/thaum/thaum.conf
Environment=GUNICORN_BIND=127.0.0.1:5165
Volume=/etc/thaum:/etc/thaum:ro
Volume=thaum-data.volume:/var/lib/thaum
Volume=thaum-log.volume:/var/log/thaum

[Service]
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
