[Service]
LoadCredentialEncrypted=thaum_db_url:/etc/credstore.encrypted/thaum_db_url
LoadCredentialEncrypted=thaum_database_vault_passphrase:/etc/credstore.encrypted/thaum_database_vault_passphrase
LoadCredentialEncrypted=thaum_jira_api_token:/etc/credstore.encrypted/thaum_jira_api_token
LoadCredentialEncrypted=thaum_webex_token_database:/etc/credstore.encrypted/thaum_webex_token_database
