[server]
base_url = "https://thaum.example.com"
bot_type = "webex"
lookup_plugin = "null"

[server.database]
db_url = "secret:thaum_db_url"
database_vault_passphrase = "secret:thaum_database_vault_passphrase"
data_key_rotate_days = 60

[logging]
level = "INFO"
file = true
file_backup_count = 5

[defaults.alert.jira]
site_url = "https://your-site.atlassian.net"
cloud_id = "00000000-0000-0000-0000-000000000000"
user = "thaum-jira-bot@example.com"
api_token = "secret:thaum_jira_api_token"
status_webhook_bearer = ""
responders = []

[bots.database]
name = "Thaum Database"
team_description = "Database"
high_pri_on = false
send_alerts = true
alert_type = "jira"
responders = ["team:DBA"]
emergency_warning_message = ""
token = "secret:thaum_webex_token_database"

[bots.database.alert]
responders = ["team:DBA"]
